<h1>Get Your Change</h1>

<p>Enter a number of cents amount and get exact change.</p>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="userCents">Enter cents</label>
    <input id="userCents" name="userCents" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Get change</button>
</form>
